<div class="modal-header">
  <h4 class="modal-title">Delete Employee</h4>
  <button type="button" class="close" aria-hidden="true">&times;</button>
</div>
<div class="modal-body">
  <input hidden type="text" name="id" id="employeeId">
  <p>Are you sure you want to delete: <span class="text-danger font-weight-bold">{{employeeName}}</span></p>
  <p class="text-warning"><small>This action cannot be undone.</small></p>
</div>
<div class="modal-footer">
  <input mat-dialog-close type="button" class="btn btn-default" value="Cancel">
  <input type="submit" class="btn btn-danger" (click)="delete()" value="Delete">
</div>
