<html>
<head th:insert="~{header_footer :: head}">
    <title>Create new service</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
          integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
            integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
            crossorigin="anonymous"></script>
</head>
<body>
<div th:replace="~{header_footer :: #header}"></div>
<div class="row">
    <div class="container d-flex justify-content-center">
        <div class="col-6 d-flex flex-column">
            <h1>Question Information</h1>
            <span class="message" th:if="${message!=null}" th:text="${message}"></span>
            <p>
                <a href="/question">Back to question list</a>
            </p>
            <div>
                <th:block th:object="${question}">
                    <div class="form-group">
                        <input type="hidden" name="id" th:field="*{questionId}"/>
                    </div>
                    <div class="form-group">

                        <label for="tittle" class="form-label">Tittle</label>
                        <input type="text" readonly class="form-control" name="tittle" id="tittle"
                               th:field="*{tittle}">
                    </div>
                    <div class="form-group">
                        <label for="question"  class="form-label">Question</label>
                        <input type="text" readonly class="form-control" name="question" id="question"
                               th:field="*{question}">
                    </div>
                    <div class="form-group">
                        <label for="answer"  class="form-label">Answer</label>
                        <input type="text" readonly class="form-control" name="answer" id="answer"
                               th:field="*{answer}">
                    </div>
                    <div class="form-group">
                        <label for="questionType"  class="form-label">Question Type</label>
                        <input type="text" readonly class="form-control" name="questionType" id="questionType"
                               th:field="*{questionType.questionTypeName}">
                        </select>
                    </div>

                    <div class="form-group">
                        <label for="dateCreate" class="form-label">Date Create</label>
                        <input type="date" readonly class="form-control" name="dateCreate" id="dateCreate"
                               th:field="*{dateCreate}">
                    </div>
                    <div class="form-group">
                        <label for="status" class="form-label">Status</label>
                        <input type="text" readonly class="form-control" name="status" id="status"
                               th:field="*{status}">
                    </div>
                </th:block>>
            </div>
        </div>
    </div>
</div>
<div th:replace="~{header_footer :: #footer}"></div>
</body>
</html>
