<html xmlns:jsp="http://java.sun.com/JSP/Page">
<head th:insert = "~{header_footer :: head}">
    <title>Create new Service</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
          integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
            integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns"
            crossorigin="anonymous"></script>
</head>
<body>
<div th:insert="~{header_footer :: #header}"></div>
<div class="row">
    <div class="container d-flex justify-content-center">
        <div class="col-6 d-flex flex-column">
            <h1>Create new contract</h1>
            <p>
                <span th:if="${message != null}" th:text="${message}" class="message text-success"></span>
            </p>
            <p>
                <a href="/contract">Back to contract list</a>
            </p>
            <form method="post" th:action="@{/contract/create}" th:object="${contract}">

                <div class="form-group">
                    <label for="employeeId" class="form-label">Employee</label>
                    <select class="form-control" id="employeeId" name="employeeId" th:field="*{employee}">
                        <option th:each="employee : ${employees}" th:value="${employee.employeeId}"
                                th:text="${employee.employeeName}"></option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="customerId" class="form-label">Customer</label>
                    <select class="form-control" id="customerId" name="customerId" th:field="*{customer}">
                        <option th:each="customer : ${customers}" th:value="${customer.customerId}"
                                th:text="${customer.customerName}"></option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="serviceId" class="form-label">Service</label>
                    <select class="form-control" id="serviceId" name="serviceId" th:field="*{service}">
                        <option th:each="service : ${services}" th:value="${service.serviceId}"
                                th:text="${service.serviceName}"></option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="contractStartDate" class="form-label">Contract Start Date</label>
                    <input type="date" class="form-control" name="contractStartDate" id="contractStartDate"
                           th:field="*{contractStartDate}">
                </div>
                <div class="form-group">
                    <label for="contractEndDate" class="form-label">Contract Start Date</label>
                    <input type="date" class="form-control" name="contractEndDate" id="contractEndDate"
                           th:field="*{contractEndDate}">
                </div>
                <div class="form-group">
                    <label for="contractDeposit" class="form-label">Contract Deposit</label>
                    <input type="text" class="form-control" name="contractDeposit" id="contractDeposit"
                           th:field="*{contractDeposit}">
                <div class="form-group">
                    <button type="submit" class="btn btn-primary">Create</button>
                </div>
            </form>
        </div>
    </div>
</div>
<div th:insert="~{header_footer :: #footer}"></div>
</body>
</html>
