<html xmlns:jsp="http://java.sun.com/JSP/Page">
<head th:insert = "~{header_footer :: head}">
    <title>Create new Service</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
          integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
            integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns"
            crossorigin="anonymous"></script>
</head>
<body>
<div th:insert="~{header_footer :: #header}"></div>
<div class="row">
    <div class="container d-flex justify-content-center">
        <div class="col-6 d-flex flex-column">
            <h1>Create new employee</h1>
            <p>
                <span th:if="${message != null}" th:text="${message}" class="message text-success"></span>
            </p>
            <p>
                <a href="/employee">Back to employee list</a>
            </p>
            <form method="post" th:action="@{/employee/create}" th:object="${employee}">
                <div class="form-group">
                    <label for="employeeName" class="form-label">Employee Name</label>
                    <input type="text" class="form-control" name="employeeName" id="employeeName"
                           th:field="*{employeeName}">
                </div>
                <div class="form-group">
                    <label for="positionId" class="form-label">Position</label>
                    <select class="form-control" id="PositionId" name="PositionId" th:field="*{position}">
                        <option th:each="position : ${positions}" th:value="${position.positionId}"
                                th:text="${position.positionName}"></option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="educationDegreeId" class="form-label">Education Degree</label>
                    <select class="form-control" id="educationDegreeId" name="educationDegreeId" th:field="*{educationDegree}">
                        <option th:each="educationDegree : ${educationDegrees}" th:value="${educationDegree.educationDegreeId}"
                                th:text="${educationDegree.educationDegreeName}"></option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="divisionId" class="form-label">Division</label>
                    <select class="form-control" id="divisionId" name="divisionId" th:field="*{division}">
                        <option th:each="division : ${divisions}" th:value="${division.divisionId}"
                                th:text="${division.divisionName}"></option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="username" class="form-label">Username</label>
                    <select class="form-control" id="username" name="username" th:field="*{username}">
                        <option th:each="username : ${usernames}" th:value="${username.username}"
                                th:text="${username.usernameName}"></option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="employeeBirthday" class="form-label">Employee Birthday</label>
                    <input type="date" class="form-control" name="employeeBirthday" id="employeeBirthday"
                           th:field="*{employeeBirthday}">
                </div>
                <div class="form-group">
                    <label for="employeeIdCard" class="form-label">Employee Id Card</label>
                    <input type="text" class="form-control" name="employeeIdCard" id="employeeIdCard"
                           th:field="*{employeeIdCard}">
                </div>
                <div class="form-group">
                    <label for="employeeSalary" class="form-label">Employee Salary</label>
                    <input type="text" class="form-control" name="employeeSalary" id="employeeSalary"
                           th:field="*{employeeSalary}">
                </div>

                <div class="form-group">
                    <label for="employeePhone" class="form-label">Employee Phone</label>
                    <input type="text" class="form-control" name="employeePhone" id="employeePhone"
                           th:field="*{employeePhone}">
                </div>
                <div class="form-group">
                    <label for="employeeEmail" class="form-label">Employee Email</label>
                    <input type="text" class="form-control" name="employeeEmail" id="employeeEmail"
                           th:field="*{employeeEmail}">
                </div>
                <div class="form-group">
                    <label for="employeeAddress" class="form-label">Employee Address</label>
                    <input type="text" class="form-control" name="employeeAddress" id="employeeAddress"
                           th:field="*{employeeAddress}">
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary">Create</button>
                </div>
            </form>
        </div>
    </div>
</div>
<div th:insert="~{header_footer :: #footer}"></div>
</body>
</html>
