<div class="row">
  <div class="container d-flex justify-content-center">
    <div class="col-6 d-flex flex-column">
      <h1>Edit employee</h1>
      <p>
        <a [routerLink]="['/employee']">Back to employee list</a>
      </p>
      <form [formGroup]="editForm" (ngSubmit)="submit()">
        <div class="form-group">
          <label for="name" class="form-label">Name</label>
          <input type="text" class="form-control" name="name" id="name" formControlName="name">
          <p class="text-danger" *ngIf="editForm.controls.name.errors?.required && editForm.controls.name.touched">not empty</p>
        </div>
        <div class="form-group">
          <label for="position" class="form-label">Position</label>
          <select class="form-control" id="position" name="position" formControlName="position" [(ngModel)]="selectedPosition" [compareWith]="compare">
            <option value="">Select position</option>
            <option *ngFor="let position of positions" [ngValue]="position">{{position.name}}</option>
          </select>
        </div>
        <div class="form-group">
          <label for="division" class="form-label">Division</label>
          <select class="form-control" id="division" name="division" formControlName="division" [(ngModel)]="selectedDivision" [compareWith]="compare">
            <option value="">Select Division</option>
            <option *ngFor="let division of divisions" [ngValue]="division">{{division.name}}</option>
          </select>
        </div>
        <div class="form-group">
          <label for="educationDegree" class="form-label">Education Degree</label>
          <select class="form-control" id="educationDegree" name="educationDegree" formControlName="educationDegree" [(ngModel)]="selectedEdu" [compareWith]="compare">
            <option value="">Select Education Degree</option>
            <option *ngFor="let degree of edu" [ngValue]="degree">{{degree.name}}</option>
          </select>
        </div>
        <div class="form-group">
          <mat-form-field>
            <label for="customerBirthday" class="form-label">Employee Birthday</label>
            <input [max] = maxDate [min] = minDate matInput [matDatepicker]="picker" class="form-control" name="customerBirthday" id="customerBirthday"
                   formControlName="birthday"> <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
            <p class="text-danger" *ngIf="editForm.controls.birthday.errors?.required && editForm.controls.birthday.touched">not empty</p>
            <p class="text-danger" *ngIf="editForm.controls.birthday.errors?.validateBirthday && editForm.controls.birthday.touched">Birthday is invalid</p>
          </mat-form-field>
        </div>
        <div class="form-group">
          <label for="customerGender" class="form-label">Employee Gender</label>
          <select class="form-control" id="customerGender" name="customerGender" formControlName="gender">
            <option value="Male">Male</option>
            <option value="Female">Female</option>
            <option value="Other">Other</option>
          </select>
        </div>
        <div class="form-group">
          <label for="customerIdCard" class="form-label">Customer ID Card</label>
          <input type="text" class="form-control" name="customerIdCard" id="customerIdCard"
                 formControlName="idCard">
          <p class="text-danger" *ngIf="editForm.controls.idCard.errors?.required && editForm.controls.idCard.touched">not empty</p>
          <p class="text-danger" *ngIf="editForm.controls.idCard.errors?.pattern && editForm.controls.idCard.touched">Id card is invalid</p>

        </div>
        <div class="form-group">
          <label for="customerPhone" class="form-label">Employee Phone</label>
          <input type="text" class="form-control" name="customerPhone" id="customerPhone" formControlName="phone">
          <p class="text-danger" *ngIf="editForm.controls.phone.errors?.required && editForm.controls.phone.touched">not empty</p>
          <p class="text-danger" *ngIf="editForm.controls.phone.errors?.pattern && editForm.controls.phone.touched">Phone is invalid</p>

        </div>
        <div class="form-group">
          <label for="customerEmail" class="form-label">Employee Email</label>
          <input type="text" class="form-control" name="customerEmail" id="customerEmail" formControlName="email">
          <p class="text-danger" *ngIf="editForm.controls.email.errors?.required && editForm.controls.email.touched">not empty</p>
          <p class="text-danger" *ngIf="editForm.controls.email.errors?.email && editForm.controls.email.touched">Email is invalid</p>

        </div>
        <div class="form-group">
          <label for="customerAddress" class="form-label">Employee Address</label>
          <input type="text" class="form-control" name="customerAddress" id="customerAddress"
                 formControlName="address">
          <p class="text-danger" *ngIf="editForm.controls.address.errors?.required && editForm.controls.address.touched">not empty</p>
        </div>
        <div class="form-group">
          <label for="salary" class="form-label">Salary</label>
          <input type="number" class="form-control" name="salary" id="salary"
                 formControlName="salary">
          <p class="text-danger" *ngIf="editForm.controls.salary.errors?.required && editForm.controls.salary.touched">not empty</p>
        </div>
        <div class="form-group">
          <button type="submit" [disabled]="editForm.invalid" class="btn btn-primary">Edit</button>
        </div>
      </form>
    </div>
  </div>
</div>
