<app-navbar></app-navbar>
<h2>Today's article</h2>
<hr>
<div>
  <select [(ngModel)]="filter">
    <option value="all">All</option>
    <option value="a">Includes a</option>
    <option value="b">Includes b</option>
  </select>
</div>
<div *ngFor="let article of articles">
  <div *ngIf="filter === 'all' || (article.title.includes('a') && filter === 'a') || (article.title.includes('b') && filter === 'b')">
  <div><a href="{{article.url}}" target="_blank">{{article.title}}</a>: <app-like></app-like></div>
  <div><button (click)="deleteArticle(article.title)">Delete</button></div>
  <br>
  </div>
</div>
<hr>
<div>
  <h2>Article Information</h2>
  <table *ngIf="!isShownForm">
    <tr>
      <td>Title:</td>
      <td><textarea [(ngModel)]="newTittle" cols="70"></textarea></td>
    </tr>
    <tr>
      <td>Url:</td>
      <td>
        <textarea [(ngModel)]="newUrl" cols="70"></textarea>
      </td>
    </tr>
    <tr>
      <td></td>
      <td><button style="float: right" (click)="addNewArticle()">Add</button></td>
    </tr>
  </table>
  <td><button style="float: right" *ngIf= "isShownForm" (click)="showForm()">Add</button></td>
</div>
<hr>
<app-footer></app-footer>
